*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
}

button,
input,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.site-main {
  min-height: 100vh;
}

input {
  height: 2rem;
  border-radius: var(--radius-sm);
  /* border-color: var(--color-secondary); */
  /* border-color: var(--color-black); */
  border: 2px solid var(--color-primary); 
  margin: 1rem 0 .5rem 0;
}

form {
  display: block;
}